*{
  padding: 0;
  margin: 0;
}
.grayBackground {
  background-color: rgb(210, 210, 210);
}

.redBackground {
  background-color: rgb(200, 118, 216);
}

.greenBackground {
    background-color: rgb(152, 221, 149);
  }

.main-section {
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(224, 219, 219, 0.6) 90%, rgba(224, 219, 219, 0.6)90.54%), url('../assets/fundo.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.footer-container {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
}

.footer-container button {
  margin-right: 10px;
}

.footer-buttons {
  height: 50px;
  font-size: 20px;
  width: 150px;
  border: none;
}

.select {
  color: rgb(47, 220, 41);
  font-weight: bold;
}

.reset {
  color: rgb(181, 41, 220);
  font-weight: bold;
}

.reset:hover {
  background-color: rgb(170, 45, 204);
  color: aliceblue;
}

.reset:active {
  background-color: rgb(132, 18, 163);
  color: aliceblue;
}

.select:hover {
  background-color: rgb(64, 178, 60);
  color: aliceblue;
}

.select:active {
  background-color: rgb(76, 182, 73);
  color: aliceblue;
}